<%- include('partials/header.ejs') %>

<form action="/" method="get">
  <button type="submit">Back</button>
</form>

<h1>Detail</h1>

<img src=<%= image_detail.url %> alt="detail">
<p><%= image_detail.prompt %></p>

<form action="/delete" method="post">
  <input type="text" name="image_delete" value="<%=image_detail.url%>" hidden>
  <button type="submit">Delete</button>
</form>


<%- include('partials/footer.ejs') %>
