<%- include('partials/header.ejs') %>

<div class="w-screen">
  <div class="w-full flex justify-center items-center no-cursor">
    <form action="/" method="get" class="">
      <button type="submit">Back</button>
    </form>
  </div>
  <div class="flex justify-center items-center">
    <div class="my-9 text-white w-3/4 grid gap-4 grid-cols-4">
      <% gallery.forEach((image, index) => { %>
        <div class="relative group h-96 <%= index % 5 === 0 ? 'col-span-2' : 'col-span-1' %> no-cursor">
          <img src=<%= image.url %> alt="image" class="w-full h-full object-cover group-hover:blur-sm group-hover:brightness-50 transition duration-300">
          <form action="/detail" method="get" class="absolute flex items-center justify-center inset-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible z-10 transition duration-300">
            <input type="text" name="image_url" value="<%= image.url %>" hidden>
            <button type="submit" class="border-white">Detail</button>
          </form>
        </div>
      <% }) %>
    </div>
  </div>

  
</div>

<%- include('partials/footer.ejs') %>
